@import 'nib'

html 
	min-height 100%
	font-family sans-serif
	font-size 10pt

body.sfw
	background linear-gradient( top, #d1d5ee, #eef2ff 200px )
	& > header a, & > footer a
		color #34345c
	.boardlinks
		color #89a
	.thread
		border-color #b7c5d9
	.post:target
		background-color #d6bad0 !important
	.reply, #postpreview
		background #d6daf0
	.reply
		border-color #b7c5d9
	.reply:before 
		color #b7c5d9
	#postpreview.op 
		background-color #eef2ff
	.quotelink 
		color #d00

body.nsfw 
	background linear-gradient( top, #fed7af, #ffe 200px )
	color #800000
	& > header a, & > footer a
		color #800
	.boardlinks
		color #b86
	.thread
		border-color #808080
	.post:target
		background-color #f0c0b0 !important
	.reply, #postpreview
		background-color #f0e0d6
	.reply
		border-color #d9bfb7
	.reply:before 
		color #d9bfb7
	#postpreview.op 
		background-color #ffe
	.quotelink 
		color #000080

selection = #29df75
::selection 
	background selection
	color #000

::-moz-selection
	background selection
	color #000

body > header
	text-align center
	color #af0a0f
	h1
		font-family "Tahoma"
		font-size 24pt
		margin 0
		a
			color #af0a0f !important
			text-decoration none
			&:hover
				text-decoration underline
	h2
		font-size 10px
		font-weight normal

.boardlinks
	font-size 9pt

#banner
	margin 1em 0

#boards a
	font-weight normal
	padding 1px
	text-decoration none

#motd 
	margin 1em 0

.thread
	padding-bottom 5px
	border-style solid
	border-width 0
	border-bottom-width 1px

	&:first-child
		border-top-width 1px

.thread-info
	clear left
	text-align right

.post 
	margin-top 3px

.replies
	counter-reset reply
	counter-reset image

.reply 
	counter-increment reply
	padding 2px
	margin-left 2em
	border-style solid
	border-width 0 1px 1px 0
	// motherfucking yellow fade
	transition-property background-color
	transition-duration 4s

.replies > .post > .fileinfo
	counter-increment image
	&:before
		content '#'counter(image, decimal)
		color rgba(0,0,0,.4)

.reply.new
	background-color #feffbf !important

.sage > h1 > .poster:after 
	content " (sage)"

.reply:before 
	content counter(reply, decimal)
	position absolute
	text-align right
	display inline-block
	margin-left -2.5em
	width 2em
	font-size 10pt

.post h1 
	margin 0
	padding 0
	font-size 100%
	font-weight normal

.op > h1 
	font-size 130%

.post .title 
	color #0f0c5d
	font-weight 800

.poster 
	color #117743
	font-weight 800
	&:link
		color #34345c
		text-decoration underline

.tripcode 
	color #228854

.fileinfo
	margin-left 20px
.file 
	display block
	float left
	margin 3px 20px
	position relative

img.full
	// seems to fix weird left-margin in firefox
	display block

.capcode 
	font-weight 800

.admin 
	.poster, .capcode, .tripcode
		color #f00

.mod
	.poster, .capcode
		color 800080

button:enabled
	cursor pointer

button.hide,
button.report 
	float right
	margin 0 0 0 2px
	padding 0 1px
	line-height 1em

// functional css
// bad idea? maybe
.post.hidden 
	opacity 0.6

	.file, .comment, .backlinks, .fileinfo
		display none

.thread.hidden
	opacity 0.6
	.replies, .thread-info
		display none
	.op
		.file, .comment, .backlinks, .fileinfo
			display: none

.post.inlined
	// visually hidden only to keep post numbering
	border 0
	clip rect(0,0,0,0)
	height 0
	overflow hidden
	padding 0
	margin 0
	outline 0

a.quotelink.hiddenlink 
	text-decoration line-through

.oplink:after 
	content " (OP)"

.crossthread:after 
	content " (Crossthread)"

a,strong
	&.quotelink.inlinedlink
		font-weight bold
		color #000

a.permalink 
	text-decoration none
	color inherit
	float right
	display block
	margin-left 1em
	line-height 1.7
	// line-height adjusts a to look in line with rest of text
	// bit weird, since a becomes a block element

a.saucelink 
	color inherit
	text-decoration none

a.permalink .id, a.saucelink
	&:hover
		text-decoration underline

.archivelink
	color gray
	&:after
		content " (archive)"
		
.recursivelink
	font-weight bold
	color: black !important
	
.comment 
	margin 1em 1em 1em 40px
	word-wrap break-word

.quote 
	font-weight normal
	color #789922

.spoiler 
	text-decoration none
	color #000
	background #000
	.unkfunc, a
		color #000
	&:hover
		color #fff
		.unkfunc, a
			color: #fff

.youtube 
	position relative
	text-decoration none
	border 3px solid 
	border-color #C6312B 
	border-radius 10px
	transition .5s

	&:hover
		border-color #FFA200
		&:after
			opacity: 1
	&:after
		transition .5s
		opacity: 0
		content "\u25B6"
		display block
		left 50px
		bottom 25px
		position absolute
		font-size 32px
		color #C6312B
		text-shadow 0 0 10px white

.backlinks 
	clear both

.backlink 
	margin-right 1em

#postpreview 
	outline none
	padding .5em
	box-shadow 5px 5px 10px rgba(0,0,0,.5)
	margin 0

.post.inline 
	margin-left 0
	border 1px solid #666
	border-left-width 0
	padding-left 0
	clear left
	.comment
		padding-left 1em
		margin-left 0

.post.inline
	background-color rgba(255,255,255,0.25)

.backlink+.post.inline 
	margin-left 20px
	& > .comment 
		margin 1em 40px 1em 0
		padding 0 1em

.inline .backlinks > .recursivelink 
	opacity 0

.hovered 
	outline 3px dashed #00f

#pages 
	text-align center

	margin 0pt
	padding 0pt

	li 
		display inline

	a 
		border-color #aaa
		border-style solid
		border-width 1px 0
		color #000
		display inline-block
		margin 0.25em
		padding 0.5em 1em
		text-decoration none
		&#current, &:hover 
			background-color rgba(200,200,200,0.70)

#delform
	float right

#sticky
	background rgba( 200, 200, 200, .9 )
	fixed bottom left
	width 100%

#postform-wrapper.visible, #sticky:hover #postform-wrapper
	height 250px
	transition height .25s

#postform-wrapper
	height 0
	overflow hidden
	transition .5s
	transition-delay .5s

#postform 
	display table
	margin 1em auto

	#comment, #recaptcha_response_field
		width 100%

#name, #email, #subject
	width 32.7%

#recaptcha_image
	display block
	background white
	width 100% !important
	img
		display block
		margin auto

#controls
	font-size 9pt
	button
		font-size inherit
	margin .5em

#updater
	float right

#bottom
	clear both
	text-align center
	//semi-decent way to make sure fixed elements have space at the bottom
	margin-bottom 300px

// yet more functional stylins (well, barely functional)
#lightbox
	fixed top left
	width 100%
	height 100%
	pointer-events none
	background-color rgba(0,0,0,0)
	transition background-color .5s
	&.dark
		background-color rgba(0,0,0,.5)

// catalog-type styles
.boardpage #threads.catalog
	.thread
		display inline-block
		width 280px
		height 280px
		margin 1em
		padding 1em
		border none

	.thread-info 
		text-align center
		.expand
			display none

	.replies
		display none

	.op
		.fileinfo, .backlinks, .comment
			display none
		input, button, .title, .poster, .tripcode, .capcode, .posteruid, time, .permalink
			display: none
		.file
			float none

		
