html {
	min-height:100%;
	font-family: sans-serif;
	font-size: 10pt;
}

.sfw {
	background-image: linear-gradient(rgb(209, 213, 238), rgb(238, 242, 255) 200px);
	background-image: -moz-linear-gradient(rgb(209, 213, 238), rgb(238, 242, 255) 200px);
}

.nsfw {
	background-image: linear-gradient(rgb(254,215,175), rgb(255,255,238) 200px);
	background-image: -moz-linear-gradient(rgb(254,215,175), rgb(255,255,238) 200px);
	color: #800000;
}

body > header {
	text-align: center;
	color: #AF0A0F;
}
body.sfw  > header a, body.sfw > footer a { color: #34345C; }
body.nsfw > header a, body.nsfw > footer a{ color: #880000; }

.boardlinks { font-size: 9pt;}
.nsfw .boardlinks { color: #BB8866; }
.sfw .boardlinks { color: #8899AA; }
#banner { margin: 1em 0; }
#boards a {
    font-weight: normal;
    padding: 1px;
    text-decoration: none;
}

body > header h1 {
	font-family: "Tahoma";
	font-size: 24pt;
	margin: 0;
}
body > header h1 a {
	color: #AF0A0F !important;
    text-decoration: none;
}
body > header h1 a:hover { text-decoration: underline; }
body > header h2 { font-size: 10px; font-weight: normal; }

#motd {
	margin: 1em 0;
}
.thread {
	padding-bottom: 5px;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 1px;
}
.thread:first-child {
	border-top-width: 1px;
}
.sfw .thread {
	border-color: #b7c5d9;
}
.nsfw .thread {
	border-color: gray;
}

.omitted-replies {
	clear: left;
	text-align: right;
}

.post {
	margin-top: 3px;
}

.sfw .post:target {
	background-color: #D6BAD0;
}
.nsfw .post:target {
	background-color: #F0C0B0;
}
.reply {
	padding: 2px;
	margin-left: 1.5em;
	border-style: solid;
	border-width: 0 1px 1px 0;
}

.sfw .reply, .sfw .post.inline:not(.tripcoded) {
	background: #D6DAF0;
	border-color: #B7C5D9;
}

.nsfw .reply, .nsfw .post.inline:not(.tripcoded) {
	background-color:#F0E0D6;
	border-color: #D9BFB7;
}

.sage > header > h1 > .poster:after {
	content: " (sage)";
}

.reply:before {
	content: ">>";
	display: block;
	height: 0;
	margin-left: -1.5em;
	font-size: 10pt;
}
.sfw .reply:before {
	color: #B7C5D9;
}
.nsfw .reply:before {
	color: #D9BFB7;
}

.sfw #postpreview.op {
	background-color: #EEF2FF;
}
.nsfw #postpreview.op {
	background-color: #FFFFEE;
}

.post h1 { display: inline; margin: 0; padding: 0; font-size: 100%; font-weight: normal;}

.op>header>h1 {
	font-size: 130%;
}

.post .title {
	color: #0f0c5d;
	font-weight: 800;
}

.poster {
	color:#117743;
	font-weight: 800;
}

.poster:link {
	color: #34345C;
	text-decoration: underline;
}

.tripcode {
	color: #228854;
}

.file {
	display: block;
	float: left;
	margin: 3px 20px;
	position: relative;
}

.file.expanded {
	float: none;
}
img.full {
	max-width: 100%;
}

.capcode {
	font-weight: 800;
}

.admin .poster, .admin .capcode, .admin .tripcode {
	color: red;
}

.mod .poster, .mod .capcode {
	color: 800080
}

button.hide, button.report {
	cursor: pointer;
	float: right;
	margin: 0 0 0 2px;
	padding: 0 1px;
	line-height: 1em;
}

.post.hidden { opacity: .6; }
.post.hidden .fileinfo, .post.hidden .file, .post.hidden .comment, .post.hidden footer {
	display: none;
}

a.quotelink.hiddenlink {
	text-decoration: line-through;
}

.oplink:after {
	content: " (OP)";
}

.crossthread:after {
	content: " (Crossthread)";
}

.sfw .quotelink {color: #d00;}
.nsfw .quotelink {color: #000080;}

a.quotelink.inlinedlink, strong.quotelink.recursivelink {
	font-weight: bold;
	color: black;
}

a.permalink {
	text-decoration: none;
	color: inherit;
	float: right;
}

a.saucelink {
	color: inherit;
	text-decoration: none;
}

a.permalink .id:hover, a.saucelink:hover {
	text-decoration: underline;
}

.comment {
	padding: 0 1em ;
	margin: 1em 40px;
}


.greentext {
	font-weight: normal;
	color: #789922;
}

.spoiler {
	text-decoration: none;
	color: black;
	background: black;
}
.spoiler .greentext, .spoiler a {
	color: black;
}

.spoiler:hover {
	color: white;
}

.spoiler:hover .greentext, .spoiler:hover a {
	color:white;
}

.post footer {
	clear:both;
}

.backlink {
	margin-right: 1em;
}

#postpreview  {
	outline: 3px dashed blue;
	margin: 0;
}
#postpreview:before, .reply.inline:before {
	display: none;
}

.post.inline {
	margin-left: 0;
	background-color: rgba(255,255,255,.1);
	border: 1px solid #aaa;
	border-left-width: 0;
	padding-left: 0;
}

.post.inline .comment {
	padding-left: 0;
	margin-left: 0;
}

.backlink+.post.inline > .comment {
	margin: 1em 40px;
	padding: 0 1em;
}

.inline .backlinks > .recursivelink {
	opacity: 0;
}

.hovered {
	outline: 3px dashed blue;
}

#pages {
	text-align: center;
}

#pages ul {
	display: inline;
	margin: 0pt;
	padding: 0pt;
}

#pages li {
	display: inline;
}

#pages a {
	border-color: #AAAAAA;
	border-style: solid;
	border-width: 1px 0;
	color: black;
	display: inline-block;
	margin: 0.25em;
	padding: 0.5em 1em;
	text-decoration: none;
}

#current {
	font-weight: bold;
}

#pages a:hover {
	background-color: rgba(200, 200, 200, 0.7);
}

#postform {
    display: table;
    border-spacing: 1px;
    margin: 1em auto;
}
#postform > div {
    display: table-row;
    padding: 5px 0;
}
#postform > div > * {
    display: table-cell;
}
#postform >div > label {
    vertical-align: middle;
    padding: 0 5px;
    font-weight: 800;
    border: 1px solid;
    background: #9988EE;
}
#rules {
    font-size: 10px;
	width: 0;
	overflow: visible;
}
#rules li {
    width: 30em;
}

#postform input[type="text"], #postform textarea {
    margin: 0 2px 0 0;
    width: 100%;
    padding: 2px 0 3px 0;
}

body > footer {
	text-align: center;
}