html {
	background: #EEF2FF;
	min-height:100%;
	font-family: sans-serif;
	font-size: 10pt;
}


.post h1 { display: inline; margin: 0; padding: 0; font-size: 100%; font-weight: normal;}

.thread {
	padding-bottom: 5px;
	border-bottom: 1px solid #B7C5D9;
	overflow: auto;
}
.thread > footer {
	clear: left;
	text-align: right;
}
.post {
	margin-top: 3px;
}

.post:target, .thread:target .op {
	background-color: #D6BAD0;
}

a.quotelink {
	color: #d00;
}

a.permalink {
	text-decoration: none;
	color: inherit;
	float: right;
}

.post .title {
	color: #0f0c5d;
	font-weight: 800;
}

.reply {
	background: #D6DAF0;
	padding: 2px;
	margin-left: 1.5em;
	border-color: #B7C5D9;
	border-style: solid;
	border-width: 0 1px 1px 0;
	clear: both;
}


.reply:before {
	content: ">>";
	display: block;
	height: 0;
	margin-left: -1.5em;
	font-size: 10pt;
	color: #B7C5D9;
}

.reply:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.comment {
	padding: 0 1em ;
	margin: 1em 40px;
}

.poster {
	color:#117743;
	font-weight: 800;
}

.tripcode {
	color: #228854;
}
.greentext {
	font-weight: normal;
	color: #789922;
}

.spoiler {
	text-decoration: none;
	color: black;
	background: black;
}
.spoiler .greentext, .spoiler a {
	color: black;
}

.spoiler:hover {
	color: white;
}

.file {
	display: block;
	float: left;
	margin: 3px 20px;
	position: relative;
}

.id {
	text-decoration: none;
	color: inherit;
}

.id:hover {
	color: red;
}
.capcode {
	color: red;
	font-weight: 800;
}

.post button[form="reportform"] {
	float: right;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background: transparent;
}