@import 'nib/positions'
@import 'nib/text/ellipsis' // dependency of overflow
@import 'nib/overflow'

html
  min-height 100%
  font-family Droid Serif, serif
  font-size 10pt

// appropriately hideous selection color
selection = #29df75
::selection
  background selection
  color #000

::-moz-selection
  background selection
  color #000

// hidden attribute strangely has less precedence than style="display: none" by
// default
[hidden]
  display none !important

// make buttons seem more 'clickable'
// pretty much all modern websites seem to do this, I wonder why it isn't default
button:enabled
  cursor pointer

// what the fuck, moot
.bold
  font-weight bold
.smaller
  font-size smaller

// underlines are passe
a
  text-decoration none

// rest of style
@import 'yotsuba-colors'
@import 'page'
@import 'post'
@import 'thread'
@import 'youtube'
@import 'catalog'
