cat-width = 150px

#catalog-controls
  clear both
  padding 1em

#catalog
  clear both

.catalog-link
  display inline-block
  color inherit

  padding 1em
  margin 0

  vertical-align top

  &:hover
    outline 1px solid rgba(0,0,0,0.3)

.catalog-thread
  // this prevents the caption from breaking into the next column
  // TODO better way to do this?
  display inline-block

  text-align center

  padding 0
  margin 0

.catalog-caption
  font-size 8pt
  font-family sans-serif

  max-width cat-width
  text-align left

.reply-count
  text-align center

.teaser
  max-height 150px
  overflow hidden

.catalog-thumb
  // TODO would prefer to specify width and height in html to prevent
  // reflowing, but that would require object-fit CSS to make simple max-width
  // scaling 'just werk'.
  max-width cat-width
  max-height cat-width // prevent skinny images from being so big

.diff
  color #0a0
  font-weight bold

.updated
  background-color rgba(0, 255, 0, 0.1)
