@import 'nib'

html
  min-height 100%
  font-family Droid Serif, serif
  font-size 10pt

body.sfw
  background #eef2ff url(//static.4chan.org/image/fade-blue.png) repeat-x
  & > header a, & > footer a, .boardlinks a
    color #34345c
  .boardlinks
    color #89a
  .thread
    border-color #b7c5d9
  .post:target
    background-color #d6bad0 !important
  .reply, #postpreview
    background #d6daf0
  .reply, .inline
    border-color #b7c5d9
  .reply:before
    color #b7c5d9
  .inlined-idx
    color #91a5cb
  #postpreview.op
    background-color #eef2ff
  .quotelink
    color #d00

body.nsfw
  background #ffe url(//static.4chan.org/image/fade.png) repeat-x
  color #800000
  & > header a, & > footer a, .boardlinks a
    color #800
  .boardlinks
    color #b86
  .thread
    border-color #808080
  .post:target
    background-color #f0c0b0 !important
  .reply, #postpreview
    background-color #f0e0d6
  .reply
    border-color #d9bfb7
  .reply:before
    color #d9bfb7
  .inlined-idx
    color #a98f87
  #postpreview.op
    background-color #ffe
  .quotelink
    color #000080

selection = #29df75
::selection
  background selection
  color #000

::-moz-selection
  background selection
  color #000

.boardlinks
  font-size 9pt
  text-align center
  a
    text-decoration none // cleaner looks

// squish the board links into the top right corner
// looks just fine for my fonts. good thing nobody else uses this
#toplinks
  float right
  width 300px

#bottomlinks
  clear both

body > header
  margin 1em 0
  color #af0a0f
  h1
    font-size 24pt
    margin 0
    a
      color #af0a0f !important
      text-decoration none
      &:hover
        text-decoration underline
  h2
    font-size 10px
    font-weight normal

#banner
  margin-right 1em
  float left

#motd
  margin 1em 0

#hide-motd
  text-align right
  font-size 10pt

#message
  clear both

#boards a
  font-weight normal
  padding 1px
  text-decoration none

#threads
  clear both

.thread
  padding-bottom 5px
  border-style solid
  border-width 0
  border-bottom-width 1px
  clear both

  &:first-child
    border-top-width 1px

.thread-info
  clear left
  text-align right

.post
  margin-top 3px

.reply
  padding 2px
  margin-left 2em
  border-style solid
  border-width 0 1px 1px 0
  // motherfucking yellow fade
  transition-property background-color
  transition-duration 4s

.reply.new
  background-color #feffbf !important

.sage > h1 > .poster:after
  content " (sage)"

.reply:before, .inlined-idx
  content attr(data-idx)
  position absolute
  text-align right
  display inline-block
  margin-left -2.5em
  width 2em
  font-size 10pt

.inlined-idx
  cursor pointer
  &:hover
    text-decoration underline

.post h1
  margin 0 0 0 0.25em
  padding 0
  font-size 100%
  font-weight normal

.op > h1
  font-size 130%

.post .title
  color #0f0c5d
  font-weight 800
  text-decoration none
  &:hover
    text-decoration underline

.poster
  color #117743
  font-weight 800
  &:link
    color #34345c
    text-decoration underline

.tripcode
  color #228854

.fileinfo
  margin-left 20px
  display table // prevent full width

  // hide extended attributes until hovered
  &:not(:hover)
    & > .saucelink, & > .dimensions, & > .size
      transition-delay .5s
      opacity 0

.saucelink, .dimensions, .size
  transition-duration .5s

.file
  display block
  float left
  margin 3px 20px
  position relative

// hidden attribute strangely has less precedence than style="display: none" by
// default
[hidden]
  display none !important

img.full
  // seems to fix weird left-margin in firefox
  display block

.capcode
  font-weight 800

.mod, .admin
  .capcode:hover
    cursor pointer

.admin
  .poster, .capcode, .tripcode
    color #f00
  .capcode:after
    content url(https://static.4chan.org/image/adminicon.gif)

.mod
  .poster, .capcode
    color #800080
  .capcode:after
    content url(https://static.4chan.org/image/modicon.gif)

button:enabled
  cursor pointer

button.hide,
button.report
  float right
  margin 0 0 0 2px
  padding 0 1px
  line-height 1em

// functional css
// bad idea? maybe
.post.hidden
  opacity 0.6

  .file, .comment, .backlinks, .fileinfo
    display none

.thread.hidden
  opacity 0.6
  .replies, .thread-info
    display none
  .op
    .file, .comment, .backlinks, .fileinfo
      display: none

// hidden to prevent repeats
.post.inlined
  display none
  // unless it's the hash
  &:target
    display block

.post.highlighted
  background-color #D6BAD0 !important

a.quotelink
  text-decoration none
  &.hiddenlink
    text-decoration line-through

// what the fuck, moot
.bold
  font-weight bold
.smaller
  font-size smaller

a,strong
  &.quotelink.inlinedlink
    font-weight bold
    color #000

.replylink
  text-decoration none

.permalink
  text-decoration none
  color inherit
  float right
  display block
  margin-left 1em
  line-height 1.7
  // line-height adjusts a to look in line with rest of text
  // bit weird, since a becomes a block element

.permalink .id
  &:hover
    text-decoration underline

.deadlink
  color gray
  text-decoration line-through

.recursivelink
  font-weight bold
  color: black !important

.comment
  margin 1em 1em 1em 40px
  word-wrap break-word
  line-height 1.8em
  // pleasant reading width
  width 40em
  .op &
    // larger thumbnail usually makes lines too short
    width 50em

.quote
  font-weight normal
  color #789922

.prettyprint
  background-color white
  padding .5em
  display inline-block
  max-width 40em
  overflow auto

// should really be qualified with class=spoiler, moot
s
  text-decoration none
  transition-duration 1s
  &:not(:hover)
    & > *, &
      color transparent !important
      text-shadow 0 0 7px black

.youtube
  position relative
  text-decoration none

  border 3px solid
  border-color #C6312B
  border-radius 10px
  transition .5s

  overflow hidden // prevents corners of image from covering rounded border

  display inline-block
  vertical-align top
  margin 0.25em

  width 120px
  height 90px

  &:hover
    border-color #FFA200
  &:after
    absolute top left
    width 115px
    font-size smaller
    font-family sans-serif
    color white
    background rgba(0,0,0,.5)
    padding 0 .5em
    content: attr(data-title)
  &:not(:hover):after
    overflow ellipsis

.backlinks
  clear both

.backlink
  margin-right 1em

#postpreview
  outline none
  padding .5em
  box-shadow 5px 5px 10px rgba(0,0,0,.5)
  margin 0

.inline
  margin-left 0
  border-left 1px solid
  padding-left 0

.comment .inline
  display table // quasi-clears images properly

.backlink + .inline
  margin-left 40px

.inline .backlinks > .recursivelink
  display none

.forcedimage
  text-decoration none

.backlink.inlinedlink
  display table // block without expansion

.hovered
  outline 3px dashed #00f

#pages
  text-align center

  margin 0pt
  padding 0pt

  li
    display inline

  a
    border-color #aaa
    border-style solid
    border-width 1px 0
    color #000
    display inline-block
    margin 0.25em
    padding 0.5em 1em
    text-decoration none
    &#current, &:hover
      background-color rgba(200,200,200,0.70)

#postform
  display table
  margin 1em auto

  #comment, #recaptcha_response_field
    width 100%

#name, #email, #subject
  width 31.3%

#recaptcha_image
  display block
  background white
  width 100% !important
  img
    display block
    margin auto

#updater
  float right

