

// let elements stretch full width
html, body
  margin 0
  padding 0

// squish the board links into the top right corner
// looks just fine for my fonts. good thing nobody else uses this
#toplinks
  float right
  width 300px
  margin 0 1em
  color transparent

header-color = #af0a0f

#header
  margin 1em
  color header-color

#board-name
  font-size 24pt
  margin 0
  a
    color header-color !important
    &:hover
      text-decoration underline

#board-subtitle
  font-size 10px
  font-weight normal

#banner
  margin-right 1em
  float left

#message-container
  margin 1em

#hide-message
  text-align right
  font-size 10pt

#message
  clear both

.boardlinks
  font-size 9pt
  text-align center

#threads
  clear both

#pages
  margin 1em
  padding 0

  li
    display inline

  a
    color #000
    display inline-block
    padding 0.5em 1em
    &#current, &:hover
      outline 1px solid rgba(0,0,0,0.3)

#updater
  margin 1em

