#postform
  display table
  margin 0 1em

  #comment, #recaptcha_response_field
    width 100%

#name, #options, #subject
  width 31.3%

#recaptcha_image
  display block
  background white
  width 100% !important
  img
    display block
    margin auto

