.thread
  padding-bottom 5px
  clear both

.thread-info
  clear left
  text-align right
  padding 0 1em

.thread.hidden
  opacity 0.6
  .replies, .thread-info
    display none
  .op
    .file, .comment, .backlinks, .fileinfo
      display: none

.thread > .op > .post-header:before
  content url("//static.4chan.org/image/sticky.gif")

.closed > .op > .post-header:before
  content url("//static.4chan.org/image/closed.gif")

// content doesn't compound normally, so explicitly do it
.sticky.closed > .op > .post-header:before
  content url("//static.4chan.org/image/closed.gif") url("//static.4chan.org/image/sticky.gif")
