.thread
  padding-bottom 5px
  clear both

.thread-info
  clear left
  text-align right
  padding 0 1em

.thread.hidden
  opacity 0.6
  .replies, .thread-info
    display none
  .op
    .file, .comment, .backlinks, .fileinfo
      display: none

.sticky > .op > .post-header:before
  content url("//static.4chan.org/image/sticky.gif")

.locked > .op > .post-header:before
  content url("//static.4chan.org/image/locked.gif")
