.thread
  padding-bottom 5px
  clear both

.thread-info
  clear left
  text-align right
  padding 0 1em

.sticky > .op > .post-header:before
  content url("//s.4cdn.org/image/sticky.gif")

.closed > .op > .post-header:before
  content url("//s.4cdn.org/image/closed.gif")

// content doesn't compound normally, so explicitly do it
.sticky.closed > .op > .post-header:before
  content url("//s.4cdn.org/image/closed.gif") url("//s.4cdn.org/image/sticky.gif")
