sfw-light      = #eef2ff
sfw-dark       = #d6daf0
sfw-highlight  = #d6bad0
sfw-border     = #b7c5d9
sfw-links      = #34345c
sfw-lightlinks = #89a
sfw-quotelinks = #d00

body.sfw
  background sfw-dark
  & > header a, & > footer a, .boardlinks a
    color sfw-links
  .boardlinks
    color sfw-lightlinks
  #postpreview
    background sfw-dark
  .reply:before, .inlined-idx
    color #73778c
  #postpreview.op
    background-color sfw-light
  .quotelink
    color sfw-quotelinks
  .quote.forcedquote
    color #923c2e

nsfw-light        = #ffe
nsfw-dark         = #d9bfb7
nsfw-highlight    = #f0c0b0
nsfw-border       = #d9bfb7
nsfw-threadborder = #808080
nsfw-links        = #800
nsfw-lightlinks   = #b86
nsfw-quotelinks   = #000080

// TODO update nsfw styles
body.nsfw
  background nsfw-light url(//s.4cdn.org/image/fade.png) repeat-x
  color #800000
  & > header a, & > footer a, .boardlinks a
    color nsfw-links
  .boardlinks
    color nsfw-lightlinks
  .thread
    border-color nsfw-threadborder
  .post:target
    background-color nsfw-highlight !important
  .reply, #postpreview
    background-color nsfw-dark
  .reply
    border-color nsfw-border
  .reply:before
    color nsfw-border
  .inlined-idx
    color nsfw-border - 20%
  #postpreview.op
    background-color nsfw-light
  .quotelink
    color nsfw-quotelinks

