@import 'nib/positions'
@import 'nib/text/ellipsis' // dependency of overflow
@import 'nib/overflow'

// pretty youtube thumbnails
.youtube
  position relative
  text-decoration none

  border 3px solid
  border-color #C6312B
  border-radius 10px
  transition .5s

  overflow hidden // prevents corners of image from covering rounded border

  display inline-block
  vertical-align top
  margin 0.25em

  width 120px
  height 90px

  &:hover
    border-color #FFA200
  &:after
    absolute top left
    width 115px
    font-size smaller
    font-family sans-serif
    color white
    background rgba(0,0,0,.5)
    padding 0 .5em
    content: attr(data-title)
  &:not(:hover):after
    overflow ellipsis

