<header>
	<nav class="boardlinks">#{board.nav}</nav>
	<img src="#{board.banner}" alt="4chan::" id="banner"/>
	<hgroup>
		<h1><a href="//boards.4chan.org/#{board.name}/">#{board.title}</a></h1>
		<h2>#{board.subtitle}</h2>
	</hgroup>
	#{if board.motd then "<div id=\"motd\">#that</div>" else ''}
</header>
#{if board.isThread 
	"""
	<a href="#{board.url}">[Return]</a>
	<a href="\#bottom">[Bottom]</a>
	"""
else ''}
<div id="threads">#{render_all data.threads, \article}</div>
#{if board.isThread 
	"""
	<a href="#{board.url}">[Return]</a>
	<a href="#">[Top]</a>
	"""
else
	"""
	<ul id="pages">
		#{if board.page > 0 then """<li><a href="#{board.page - 1}">previous</a></li>""" else ''}
		<li><a href="#{board.url}">0</a></li>
		<li><a href="1">1</a></li>
		<li><a href="2">2</a></li>
		<li><a href="3">3</a></li>
		<li><a href="4">4</a></li>
		<li><a href="5">5</a></li>
		<li><a href="6">6</a></li>
		<li><a href="7">7</a></li>
		<li><a href="8">8</a></li>
		<li><a href="9">9</a></li>
		<li><a href="10">10</a></li>
		<li><a href="11">11</a></li>
		<li><a href="12">12</a></li>
		<li><a href="13">13</a></li>
		<li><a href="14">14</a></li>
		<li><a href="15">15</a></li>
		#{if board.page < 15 then """<li><a href="#{board.page + 1}">next</a></li>""" else ''}
	</ul>
	"""
}
<form id="delform" method="POST" action="https://sys.4chan.org/#{board.name}/imgboard.php">
	<input name="mode" value="usrdel" type="hidden">
	<label>Password <input name="pwd" size="8" maxlength="8" type="password" tabindex="20" id="delpassword" value="#{board.password}" title="#{board.password}"></label>
	<button type="submit" value="Delete" tabindex="20">Delete Post</button>
	<button name="onlyimgdel" value="on" type="submit" value="Delete" tabindex="20">Delete File Only</button>
</form>
<form id="reportform" method="GET" action="https://sys.4chan.org/#{board.name}/imgboard.php" target="_blank">
	<input type="hidden" name="mode" value="report"/>
</form>

<footer id="bottom">
	<p><small>- <a rel="nofollow" target="_top" href="http://www.2chan.net/">futaba</a> + <a target="_top" href="http://www.4chan.org/">yotsuba</a> + <a href="https://github.com/queue-/html5chan">html5chan</a> -</small> </p>
	<p>
		<small>All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster. Read the <a href="//www.4chan.org/rules##{board.name}">rules</a> and <a href="//www.4chan.org/faq">FAQ</a> before posting. <a href="javascript:void 0" id="dump-log">Dump Log</a></small>
	</p>
	<nav class="boardlinks">#{board.nav}</nav>
</footer>

<div id="sticky">
#{
	if !board.locked
		"""
		<div id="postform-wrapper">
			<form id="postform" enctype="multipart/form-data" method="POST" action="https://sys.4chan.org/#{board.name}/post">
				<input type="hidden" value="3145728" name="MAX_FILE_SIZE">
				#{if board.threadId then "<input type=\"hidden\" value=\"#that\" name=\"resto\">" else ''}
				<input type="hidden" value="regist" name="mode">
				<input id="password" type="hidden" name="pwd" value="#{board.password}">
				<div id="fields">
					<input type="text" name="name" id="name" tabindex="10" placeholder="name\#tripcode" />
					<input type="text" id="email" name="email" tabindex="10" placeholder="email" />
					<input type="text" id="subject" name="sub" tabindex="10" placeholder="subject" />
					<div id="comment-field"><textarea name="com" id="comment" rows="4" tabindex="10" placeholder="comment"></textarea></div>
					<div id="captcha" style="display:none">
						<a id="recaptcha_image" href="javascript:Recaptcha.reload()" title="Click for new captcha" ></a>
						<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" tabindex="10" placeholder="captcha" />
					</div>
					<div id="file-field">
						<input type="file" id="file" name="upfile" tabindex="10" />
						<label id="spoiler-field"><input type="checkbox" value="on" name="spoiler" tabindex="10" /> Spoiler?</label>
					</div>
					<div id="buttons">
						<button type="submit" tabindex="10" id="post" value="Submit">Post #{if board.isThread then 'Reply' else 'New Thread'}</button>
						#{if board.isThread then """<button type="submit" name="email" value="sage" tabindex="10" id="sage">Sage Reply</button>""" else ''}
						<span id="post-status"></span>
					</div>
				</div>
			</form>
		</div>
		"""
}

	<div id="controls">
	#{if board.isThread then """<a href="#{board.url}">[Return]</a>""" else ''}
		<a href="#">[Top]</a>
		<a href="\#bottom">[Bottom]</a>

		<span id="updater">
			<span id="update-status"></span>
			<button id="update-now">Update now</button>
		</span>

		<span id="imgexpansion">
			<label>Expanded images:
				<select id="img-display">
					<option value="fit">Fit width</option>
					<option value="full">Full size</option>
				</select>
			<button type="button" id="preload-all" />Preload all</button>
			<button type="button" id="expand-all" />Expand all</button>
			<button type="button" id="collapse-all" />Collapse all</button>
			
			</label>
		</span>
	</div>
</div>
