<nav class="boardlinks" id="toplinks">#{board.nav}</nav>
<header id=header>
  <a href="//boards.4chan.org/#{board.name}/" id="banner">
    <img src="#{board.banner}" alt="4chan::"/>
  </a>
  <hgroup>
    <h1 id=board-name><a href="//boards.4chan.org/#{board.name}/">#{board.title}</a></h1>
    <h2 id=board-subtitle>#{board.subtitle}</h2>
  </hgroup>
</header>
#{if board.motd
  """
  <div id="motd">
    <button type="button" id="hide-motd">Hide News</button>
    <div id="message">#that</div>
  </div>
  """
else ''}

<div id="threads">#{(for threads => &render \article)join ''}</div>

#{if board.isBoard then """
  <ul id="pages">
    #{if board.page > 0 then """<li><a href="#{board.page - 1}">previous</a></li>""" else ''}
    <li><a href="#{board.url}">0</a></li>
    <li><a href="1">1</a></li>
    <li><a href="2">2</a></li>
    <li><a href="3">3</a></li>
    <li><a href="4">4</a></li>
    <li><a href="5">5</a></li>
    <li><a href="6">6</a></li>
    <li><a href="7">7</a></li>
    <li><a href="8">8</a></li>
    <li><a href="9">9</a></li>
    <li><a href="10">10</a></li>
    #{if board.page < 10 then """<li><a href="#{board.page + 1}">next</a></li>""" else ''}
    <li><a href="catalog">Catalog</a></li>
  </ul>""" else ''}

#{if not board.locked then """
  <div id="postform-wrapper">
    <form id="postform" enctype="multipart/form-data" method="POST" action="https://sys.4chan.org/#{board.name}/post">
      <input type="hidden" value="3145728" name="MAX_FILE_SIZE">
      #{if board.threadId then "<input type=\"hidden\" value=\"#that\" name=\"resto\">" else ''}
      <input type="hidden" value="regist" name="mode">
      <input id="password" type="hidden" name="pwd" value="#{board.password}">
      <div id="fields">
        <input type="text" name="name" id="name" tabindex="10" placeholder="name\#tripcode" />
        <input type="text" id="email" name="email" tabindex="10" placeholder="email" />
        <input type="text" id="subject" name="sub" tabindex="10" placeholder="subject" />
        <div id="comment-field"><textarea name="com" id="comment" rows="4" tabindex="10" placeholder="comment"></textarea></div>
        <div id="captcha" style="display:none">
          <a id="recaptcha_image" href="javascript:Recaptcha.reload()" title="Click for new captcha" ></a>
          <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" tabindex="10" placeholder="captcha" />
        </div>
        <div id="file-field">
          <input type="file" id="file" name="upfile" tabindex="10" />
          <label id="spoiler-field"><input type="checkbox" value="on" name="spoiler" tabindex="10" /> Spoiler?</label>
        </div>
        <div id="buttons">
          <button type="submit" tabindex="10" id="post" value="Submit">Post #{if board.isThread then 'Reply' else 'New Thread'}</button>
          #{if board.isThread then """<button type="submit" name="email" value="sage" tabindex="10" id="sage">Sage Reply</button>""" else ''}
          <span id="post-status"></span><progress max="100" value="0" hidden="" id="progress"></progress>
        </div>
      </div>
    </form>
  </div>""" else ''}

<span id="updater">
  <span id="update-status"></span>
  <button id="update-now">Update now</button>
</span>

