<header>
	<h1>
		<input type="checkbox" value="delete" name="{{id}}" form="delform">
		<button type="button" class="hide" data-post="#{{id}}">&times;</button>
		<button type="submit" form="reportform" class="report" name="no" value="{{id}}">!</button>
		<span class="title">{{title}}</span>
		<a class="poster" {{#email}}href="mailto:{{this}}"{{/email}}>{{poster}}</a>
		<span class="tripcode">{{tripcode}}</span>
		<span class="capcode">{{capcode}}</span>
		{{#time}}<time pubdate datetime="{{toISOString}}">{{prettyPrint}}</time>{{/time}}
		{{#if op}}
		{{#thread}}
			{{#sticky}}<img alt="sticky" src="http://static.4chan.org/image/sticky.gif">{{/sticky}}
			{{#locked}}<img alt="closed" src="http://static.4chan.org/image/closed.gif">{{/locked}}
			{{#if preview}}<a href="{{url}}" class="replylink">[Reply]</a>{{/if}}
		{{/thread}}
		{{/if}}
		<a href="{{url}}" class="permalink" {{#if thread.preview}}target="_blank"{{/if}}>
			No.<span class="id">{{id}}</span>
		</a>
	</h1>
	{{#image}}
	<div class="fileinfo">
		<span class="dimensions">{{width}}x{{height}}</span> <span class="size">{{size}}</span> <span class="filename">{{filename}}</span> <a class="saucelink" href="http://iqdb.org/?url={{url}}" target="_blank">iqdb</a> <a class="saucelink" href="http://google.com/searchbyimage?image_url={{url}}" target="_blank">google</a>
	</div>
	{{/image}}
</header>
{{#image}}
<a class="file" target="_blank" href="{{url}}" data-width="{{width}}" data-height="{{height}}" >
{{#thumb}}<img class="thumb" src="{{url}}" width="{{width}}" height="{{height}}"/>{{/thumb}}
</a>
{{/image}}
{{#deletedImage}}
<img class="deleted-image" alt="File deleted." src="http://static.4chan.org/image/filedeleted.gif">
{{/deletedImage}}
<div class="comment">
	{{{comment}}}
</div>

<footer class="backlinks">
{{{backlinks}}}
</footer>