<article class="thread{{#sticky}} sticky {{/sticky}}{{#locked}} locked {{/locked}}{{#preview}} preview {{/preview}}" id="thread-{{id}}" tabindex="1">
	{{#op}} <div class="{{className}}" id="{{id}}">{{> post}}</div> {{/op}} 
	{{#omitted}}<div class="omitted-replies">{{replies}} replies {{#imageReplies}}and {{this}} image replies{{/imageReplies}} omitted. Latest {{shown}} shown.</div>{{/omitted}}
	<div class="replies">
		{{#replies}}
			<article class="{{className}}" id="{{id}}"> {{> post}} </article>
		{{/replies}}
	</div>
</article>